<h2>Welcome to the Site Scraper!</h2>
<p>Can you tell what other site is powering this one???</p>

<div class="row">
  <form method="GET" action="/scrapedData">
    <button class="secondary hollow button" id="dataGet" type="button">Scrape</button>
  </form>
</div>

<div>
  <h2>Headlines</h2>
  <ul id="topNews">

  </ul>
</div>
