<h1>Welcome to the Site Scraper!</h1>
<p>Can you tell what other site is powering this one???</p>

<!-- <div class="row">
  <form method="GET" action="/scrapedData">
    <button class="secondary hollow button" id="dataGet" type="button">Scrape</button>
  </form>
</div> -->
<div class="row">
  <div class="medium-offset-3 medium-6 columns">
    <div class="main-stories">
      <h2 id="topNews">Headlines</h2>
      <ul >

      </ul>
    </div>
  </div>
</div>

<!-- {{#each headlines}}
      <li><a href="{{headLink}}">{{headline}}</a></li>
    {{/each}} -->
