body {
  color: #004685;
  background: url("/images/baseball.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F7EEE6;
}

h1, p {
  text-align: center;
}

.main-stories {
  background-color: rgba(255,255,255,.9);
  color: #F7742C;
  padding: 5%;
}

.main-stories p a, span {
  color: #004685;
  font-weight: bold;
}
.main-stories p {
  text-align: left;
}

.main-stories p a:hover {
  color:#F7742C;
}

.weatherWidget {
  position: absolute;
}

.status-tab {
  background-color: #F7742C;
  padding: 5px 5px 0;
}

.status-tab h6 {
  font-weight: bold;
  display: inline-block;
}
.game-head {
  text-align: center;
  background: white;
}

.game-boxes {
  background-color: rgba(255,255,255,.9);
}

.score-bold {
  font-weight: bold;
  text-transform: uppercase;
}

.game-title, .score-bold, .game-pitchers {
  padding-left: 5px;
}

.preview-line {
  text-align: center;
}

@media (max-width:639px) {
  .weatherWidget {
  position: static;
  margin-bottom: 10px;
  }
}
