body {
  color: #004685;
  background: url("/images/baseball.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F7EEE6;
}

h1, p {
  text-align: center;
}

.main-stories {
  background-color: rgba(255,255,255,.8);
  color: #F7742C;
  padding: 5%;
}

.main-stories p a {
  color: #004685;
  font-weight: bold;
}
.main-stories p {
  text-align: left;
}

.main-stories p a:hover {
  color:#F7742C;
}
